<!DOCTYPE html>
<html lang="en">
<% include( "include/head.html" ){}; %>
<body>
<% include( "include/nav.html" ){}; %>
<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <h1 class="my-4">NutzWk
        <small>项目案例</small>
    </h1>

    <div class="row">

        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">
                        <span href="javascript:void(0);">部分案例</span>
                    </h4>
                    <p class="card-text">
                    <ul>
                        <li>萌发连接云平台</li>
                        <li>萌发设备云平台</li>
                        <li>萌发水务平台</li>
                        <li>共享按摩椅平台</li>
                        <li>浦发银行CRM管理系统</li>
                        <li>城市轨道交通BRTD-BIM管理平台</li>
                        <li>雄安大数据平台</li>
                        <li>**省12345政务热线服务平台</li>
                        <li>**省商务厅诚信公共服务云平台</li>
                        <li>**省财政厅数据上报系统</li>
                        <li>**省体育局人才库及赛事管理系统</li>
                        <li>**市12345市长系统</li>
                        <li>**市产业扶持项目管理信息系统</li>
                        <li>**市法制宣传系统</li>
                        <li>**智慧司法系统</li>
                        <li>中科大财务处微信平台</li>
                        <li>医药库存发药系统</li>
                        <li>睡眠监测及分析系统</li>
                        <li>...等你提交</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>


        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="https://www.budiot.cn" target="_blank"><img class="card-img-top" src="${base!}/img/anli_00.jpg"
                                                                     height="320" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="https://www.budiot.cn" target="_blank">萌发物联网平台</a>
                    </h4>
                    <p class="card-text">物联网卡管理平台、物联网设备云、物联网连接云、短信平台<br><br>承接各类物联网项目订制开发、NutzWk框架开发培训等，联系QQ：11624317
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="https://www.budiot.cn" target="_blank"><img class="card-img-top" src="${base!}/img/anli_12.png"
                                                                     height="320" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="https://www.budiot.cn" target="_blank">扫地车管理及租赁平台</a>
                    </h4>
                    <p class="card-text">扫地车设备管理及租赁平台，基于 t-io + rabbitmq 实现设备连接</p>
                </div>
            </div>
        </div>


        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="https://www.budiot.cn" target="_blank"><img class="card-img-top" src="${base!}/img/anli_10.png"
                                                                     height="320" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="https://www.budiot.cn" target="_blank">智慧水务平台</a>
                    </h4>
                    <p class="card-text">NB-IOT水表、远程抄表、开阀/关阀、用户缴费等，基于 nutzboot + dubbo + zookeeper 微服务分布式架构</p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="javascript:void(0);"><img class="card-img-top" src="${base!}/img/anli_11.jpg"
                                                   height="320" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="javascript:void(0);">共享按摩椅平台</a>
                    </h4>
                    <p class="card-text">全国最大的共享按摩椅平台</p>
                </div>
            </div>
        </div>


        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="javascript:void(0);"><img class="card-img-top" src="${base!}/img/anli_05.png" height="320"
                                                   alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="javascript:void(0);">**省政务热线服务平台</a>
                    </h4>
                    <p class="card-text">**省政务热线服务平台</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="javascript:void(0);"><img class="card-img-top" src="${base!}/img/anli_06.jpeg" height="320"
                                                   alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="javascript:void(0);">比价系统</a>
                    </h4>
                    <p class="card-text">各渠道价格汇总、比价、调价</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="javascript:void(0);"><img class="card-img-top" src="${base!}/img/anli_04.png" height="320"
                                                   alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="javascript:void(0);">**市长热线系统</a>
                    </h4>
                    <p class="card-text">全国多个地市12345市长热线系统</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="javascript:void(0);"><img class="card-img-top" src="${base!}/img/anli_01.jpeg" height="320"
                                                   alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="javascript:void(0);">羽毛球场地管理系统</a>
                    </h4>
                    <p class="card-text">通过PC客户端+WEB嵌入方式，实现会员管理、卡管理、进销存管理等</p>
                </div>
            </div>
        </div>


        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="http://www.ahjt.gov.cn" target="_blank"><img class="card-img-top"
                                                                      src="${base!}/img/anli_09.png"
                                                                      height="320" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="http://www.ahjt.gov.cn" target="_blank">**省交通厅网站群项目</a>
                    </h4>
                    <p class="card-text">CMS网站群系统、网络问政、信息公开等系统</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Pagination -->
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="javascript:void(0);" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item active">
            <a class="page-link" href="/case/1">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/case/2">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="javascript:void(0);" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>

</div>
<!-- /.container -->
<% include( "include/foot.html" ){}; %>
</body>
</html>