<!DOCTYPE html>
<html lang="en">
<% include( "include/head.html" ){}; %>
<body>
<% include( "include/nav.html" ){}; %>
<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <h1 class="my-4">NutzWk
        <small>项目案例</small>
    </h1>

    <div class="row">
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="http://www.gsdata.cn" target="_blank"><img class="card-img-top" src="${base!}/img/anli_02.png"
                                                                    height="320" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="http://www.gsdata.cn" target="_blank">新媒体指数平台</a>
                    </h4>
                    <p class="card-text">舆情分析系统，现改称清博大数据</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="javascript:void(0);"><img class="card-img-top" src="${base!}/img/anli_07.jpeg" height="320"
                                                   alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="javascript:void(0);">天乐e生活</a>
                    </h4>
                    <p class="card-text">天乐社区微信公众号，预约办证、通知领证、转办等功能</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="javascript:void(0);"><img class="card-img-top" src="${base!}/img/anli_08.jpeg" height="320"
                                                   alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="javascript:void(0);">药房APP</a>
                    </h4>
                    <p class="card-text">药房交班、发药、扫码上下架等功能</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">
                        <span href="javascript:void(0);">部分案例清单</span>
                    </h4>
                    <p class="card-text">
                    <ul>
                        <li>安徽省政务热线服务平台</li>
                        <li>安徽省商务厅诚信公共服务云平台</li>
                        <li>安徽省财政厅数据上报系统</li>
                        <li>安徽省体育局人才库及赛事管理系统</li>
                        <li>合肥市12345市长系统</li>
                        <li>合肥市产业扶持项目管理信息系统</li>
                        <li>陕西人民监督员系统</li>
                        <li>秦皇岛法制宣传系统</li>
                        <li>智慧司法系统</li>
                        <li>中科大财务处微信平台</li>
                        <li>萌发物联网连接云平台</li>
                        <li>萌发物联网设备云平台</li>
                        <li>...</li>
                        <li>...等你提交</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Pagination -->
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="javascript:void(0);" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/case/1">1</a>
        </li>
        <li class="page-item active">
            <a class="page-link" href="/case/2">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="javascript:void(0);" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>

</div>
<!-- /.container -->
<% include( "include/foot.html" ){}; %>
</body>
</html>