<footer class="footer bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p class="copyright">&copy;2012-<span id="index_yaer"></span> NutzWk. QQ交流群: 24457628 | <a href="https://gitee.com/wizzer/demo/tree/master/nutzboot-wizzer-cn" target="_blank">本站源码</a> | 皖ICP备15001937号-3</p>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript">
    $(document).ready(function () {
        $("#index_yaer").html(new Date().getFullYear());
        var wow = new WOW(
            {
                animateClass: 'animated',
                offset: 100,
                mobile: true
            }
        );
        wow.init();
        console.log("https://github.com/Wizzercn/NutzWk")
        console.log("QQ:11624317")
    });

</script>