<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="description" content="开源免费的微服务分布式Java开发框架，众多项目案例，详尽的开发文档">
    <meta name="keywords" content="Java,微服务,分布式,开源,Nutz,NutzWk,框架">
    <meta name="author" content="wizzer">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible " content="IE=edge,chrome=1">
    <title>NutzWk - Java企业级开源开发框架</title>
    <link href="${base!}/css/bootstrap.min.css" rel="stylesheet">
    <link href="${base!}/css/themify-icons.css" rel="stylesheet">
    <link href="${base!}/css/main.css" rel="stylesheet">

    <style>
        body {
            padding-top: 54px;
        }

        @media (min-width: 992px) {
            body {
                padding-top: 56px;
            }
        }

    </style>
    <script src="${base!}/js/jquery.min.js"></script>
    <script src="${base!}/js/bootstrap.bundle.min.js"></script>
    <script src="${base!}/js/wow.min.js"></script>
</head>