<div class="preloader">
    <div class="status">&nbsp;</div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="${base!}/img/logo.png" width="120" alt="NutzWk"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item <%if('index'==nav){%>active<%}%>">
                    <a class="nav-link" href="/">首页
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%if('case'==nav){%>active<%}%>" href="/case">案例</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%if('donation'==nav){%>active<%}%>" href="/donation">捐赠</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://nutzam.com/core/nutz_preface.html" target="_blank">文档</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://nutz.cn" target="_blank">问答</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://nutzwk.wizzer.cn" target="_blank">演示</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://blog.wizzer.cn" target="_blank">博客</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/wizzercn/NutzWk/" target="_blank">GitHub</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://gitee.com/wizzer/NutzWk/" target="_blank">码云</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
